body {
    font-family: Arial, sans-serif;
}

.comments {
    text-align: left;
    width: 400px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    color: brown;
    font-weight: bolder;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
}

.comments * :not(.dropdown-menu, .date-style){
    display: block;
}

.comments label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-comentario textarea, input {
    display: block;
    color: rgb(17, 35, 41);
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
    padding: 5px;
}

#form-comentario textarea {
    height: 40px;
}

.btn-submit{
    margin-top: 25px;
    padding: 10px;
    width: 100px;
}

#login-form * {
 margin-top: 10px;
 margin-bottom: 10px;
}

#login-form,
#form-comentario{
    height: fit-content;
}

#form-comentario form{
    margin: 10px auto 0px auto;
    padding: 10px auto 0px auto;
}

.date-style{
    display: inline;
    font-size: smaller;
    height: fit-content;
}

.disabled{
    display: none;
}

.comments{
    transition: all 0.5s ease;
}

.comments.disabled{
    opacity: 0;
    pointer-events: none;
}

.btn {
    color:white;
    background-color: rgb(100,42,42);
}
#feed{
    max-height: 80vh;
} 
#comment-feed{
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 10px auto 0px auto;
}

#comment-feed::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

#comment-feed::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

header{
    height: 10vh;
    max-height: 10vh;
}

#user-profile {
    float: left;
    margin: 20px auto auto 20px !important;
}

#user-profile p{
    margin: 5px 5px;
}

#btnMeusComentarios, #btnEditUsuario{
    margin: 10px auto 0px auto;
    padding: 10px auto 0px auto;
    width: auto;
    float: right;
}

.groupBtnsUserData{
    display: flex !important;
    flex-direction: column !important;
    align-content: flex-end !important;
    align-items: flex-end !important;
    float: inline-end !important;
}

.editUsuario{
    background-color: #11005e;
}

#userIcon{
    border: none !important;
}